.progress-container {
  width: 100%;
  height: 4px;
  background: var(--background-color);
}

.progress-bar {
  height: 4px;
  background: rgb(226, 154, 154, 0.5);
  width: 0%;
}

@media screen and (max-width: 760px) {
  .progress-container {
    display: none;
  }
}
