@import url('./toggler.css');

/*Resets*/
:root {
  --font-color: #333;
  --background-color: #eee;
  --background-color2: rgb(117, 111, 111);
  --link-color: cornflowerblue;
}

[data-theme='dark'] {
  --font-color: rgb(238, 238, 238);
  --background-color: #333;
  --background-color2: rgb(226, 61, 61);
  --link-color: lightblue;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

/*
Typography
*/
a,
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--link-color);
}

.page-btn {
  padding: 0.3rem;
  border-radius: 0.05rem;
  background-color: var(--background-color);
}

.page-btn2 {
  padding: 0.3rem;
  border-radius: 0.05rem;
  background-color: var(--background-color2);
}
/*
Page Structure
*/

/*
Header & Nav
*/

/*
Content & Media
*/

/*
Footer
*/
